# macOS-specific files/folders
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

# Common Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.egg-info/
.tox/
build/
dist/
.env
screenshots/

# IDE/Editor files
.idea/
*.iml
.vscode/

# Notebook checkpoints
.ipynb_checkpoints

# macOS Trash folder
.Trash/

# Electron overlay
electron-overlay/node_modules/
electron-overlay/dist/

electron-overlay/.vite/


